modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Filter"
mode = "parallel"
author = 41212052

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "python3"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 41212052

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Filter"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_server.py"
