Pyrofork
tgcrypto-pyrofork
motor
marshmallow
umongo
pymongo
pytz
cinemagoer
shortzy
aiohttp
aiofiles
speedtest-cli
uvloop
requests
pyrogram
tgcrypto
python-dotenv
fastapi
httpx
psycopg2-binary
sqlalchemy
SQLAlchemy
uvicorn
asyncio
python-telegram-bot
flask
psutil
openai
gitpython
beautifulsoup4
aiohttp_jinja2
cryptography
trafilatura
jinja2
